// sub
.CreateAccountButton {
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 576px){
    .CreateAccountButton {
        margin-top: 10px;
        margin-left: 0px;
    }
    .loginbutton {
        margin-top: 10px;
    }
}

.spinner-animation {
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: flex-end;
    & .box-animation {
        // background: white;
        overflow: hidden;
        width: 400px;
        height: 100px;

        & .text-box-animation {
            animation: boxAnim 1s infinite;
            text-align: center;
            & p {
                font-size: 30px;
                animation: boxAnim 2s infinite;
            }
        }
    }
}

@keyframes boxAnim {
    from {color: black}
    to {color: white; border-bottom: 1px solid red;}
}

.spinner-HomeCompo {
    display: flex;
    justify-content: center;
    height: 30vh;
    align-items: flex-end;
}


.text-white:hover {
    border-bottom: 1px solid red;
    transition: 1s;
}

$background-web: (
    'one': #110f16,
    'two': #f3f5f7,
);

.mybghomedark {
    background: map-get($background-web, 'one');
    height: 100vh;
}


