// sub
.CreateAccountButton {
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 576px){
    .CreateAccountButton {
        margin-top: 10px;
        margin-left: 0px;
    }
    .loginbutton {
        margin-top: 10px;
    }
}

.spinner-animation {
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: flex-end;
    & .box-animation {
        // background: white;
        overflow: hidden;
        width: 400px;
        height: 100px;

        & .text-box-animation {
            animation: boxAnim 1s infinite;
            text-align: center;
            & p {
                font-size: 30px;
                animation: boxAnim 2s infinite;
            }
        }
    }
}

@keyframes boxAnim {
    from {color: black}
    to {color: white; border-bottom: 1px solid red;}
}

.spinner-HomeCompo {
    display: flex;
    justify-content: center;
    height: 30vh;
    align-items: flex-end;
}


.text-white:hover {
    border-bottom: 1px solid red;
    transition: 1s;
}

$background-web: (
    'one': #110f16,
    'two': #f3f5f7,
);

.mybghomedark {
    background: map-get($background-web, 'two');
    height: 100vh;
}

//nested
.cardCompo {
    display: flex;
    justify-content: center;
    height: 85vh;
    align-items: flex-end;

    & .parent-card {
        & .card-Avatar {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            & .card-img {
                width: 150px;
                height: 150px;
                border-radius: 100px;
                background: aquamarine;
                overflow: hidden;
                & img {
                    top: 10px;
                    position: relative;
                    right: 70px;
                }
            }
        }

        & form .form-box input {
            width: 100%;
            height: 30px;
        }

        & form .form-box input:hover {
            border: 1px solid aqua;
        }

        & .button-card-two {
            margin-top: 15px;
            & :nth-child(1){
                background: none;
                border: none;
                color: blue;
            }

            & :last-child{
                margin-left: 5px;
            }
        }
        
    }
}