.CreateAccountButton {
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 576px) {
  .CreateAccountButton {
    margin-top: 10px;
    margin-left: 0px;
  }
  .loginbutton {
    margin-top: 10px;
  }
}
.spinner-animation {
  display: flex;
  justify-content: center;
  height: 50vh;
  align-items: flex-end;
}
.spinner-animation .box-animation {
  overflow: hidden;
  width: 400px;
  height: 100px;
}
.spinner-animation .box-animation .text-box-animation {
  animation: boxAnim 1s infinite;
  text-align: center;
}
.spinner-animation .box-animation .text-box-animation p {
  font-size: 30px;
  animation: boxAnim 2s infinite;
}

@keyframes boxAnim {
  from {
    color: black;
  }
  to {
    color: white;
    border-bottom: 1px solid red;
  }
}
.spinner-HomeCompo {
  display: flex;
  justify-content: center;
  height: 30vh;
  align-items: flex-end;
}

.text-white:hover {
  border-bottom: 1px solid red;
  transition: 1s;
}

.mybghomedark {
  background: #f3f5f7;
  height: 100vh;
}

.cardCompo {
  display: flex;
  justify-content: center;
  height: 85vh;
  align-items: flex-end;
}
.cardCompo .parent-card .card-Avatar {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.cardCompo .parent-card .card-Avatar .card-img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background: aquamarine;
  overflow: hidden;
}
.cardCompo .parent-card .card-Avatar .card-img img {
  top: 10px;
  position: relative;
  right: 70px;
}
.cardCompo .parent-card .card-Avatar-Anim {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.cardCompo .parent-card .card-Avatar-Anim .card-img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background: aquamarine;
  overflow: hidden;
}
.cardCompo .parent-card .card-Avatar-Anim .card-img img {
  animation: AvatarAnim 3s infinite;
  position: relative;
  right: 70px;
}
@keyframes AvatarAnim {
  from {
    top: 10px;
  }
  to {
    top: 150px;
  }
}
.cardCompo .parent-card form .form-box input {
  width: 100%;
  height: 30px;
}
.cardCompo .parent-card form .form-box input:hover {
  border: 1px solid aqua;
}
.cardCompo .parent-card .button-card-two {
  margin-top: 15px;
}
.cardCompo .parent-card .button-card-two :nth-child(1) {
  background: none;
  border: none;
  color: blue;
}
.cardCompo .parent-card .button-card-two :last-child {
  margin-left: 5px;
}

.mybgProfile {
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mybgProfile .sub-profile-img-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mybgProfile .sub-profile-img-text img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.myform-bg {
  height: auto;
}
.myform-bg .myform-addpost {
  display: flex;
  margin-bottom: 10px;
}
.myform-bg .myform-addpost .col-span {
  flex: 20%;
  text-align: center;
}
.myform-bg .myform-addpost .col-spantwo {
  flex: 50%;
}
.myform-bg .myform-addpost .col-spantwo input {
  width: 100%;
}
.myform-bg .myform-addpost .col-spantwo textarea {
  width: 100%;
  height: 450px;
}

.bgforCard {
  height: 100vh;
}
.bgforCard .flex-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.bgforCard .flex-card .LastPostCard {
  flex: 25%;
  padding: 20px;
  text-align: center;
}
.bgforCard .flex-card .LastPostCard .CardLastpost {
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  background: linear-gradient(45deg, lightblue, #e1e5ea);
  border: none;
  overflow: hidden;
}
.bgforCard .flex-card .LastPostCard .CardLastpost .cardBody {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}
.bgforCard .flex-card .LastPostCard .CardLastpost .cardBody .cardImg {
  overflow: hidden;
}
.bgforCard .flex-card .LastPostCard .CardLastpost .cardBody .cardImg .cardImg-Img {
  height: 300px;
  width: 300px;
}
@media screen and (max-width: 576px) {
  .bgforCard .flex-card .LastPostCard .CardLastpost .cardBody .cardImg .cardImg-Img {
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 728px) {
  .bgforCard .flex-card .LastPostCard .CardLastpost .cardBody .cardImg .cardImg-Img {
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .bgforCard .flex-card .LastPostCard .CardLastpost .cardBody .cardImg .cardImg-Img {
    height: 100%;
    width: 100%;
  }
}
.bgforCard .flex-card .LastPostCard .CardLastpost .cardBody .card-details {
  flex: 50%;
  display: flex;
}
.bgforCard .flex-card .LastPostCard .CardLastpost .cardBody .card-details .sub-details {
  padding: 50px;
}
.bgforCard .flex-card .LastPostCard .CardLastpost .cardBody .card-details .sub-details .hoverbar {
  width: 50px;
  height: 6px;
  background: brown;
  border-radius: 20px;
}
.bgforCard .flex-card .LastPostCard .CardLastpost:hover .cardBody .card-details .sub-details .hoverbar {
  width: 100px;
  transition: 1s;
}
.bgforCard .flex-card .LastPostCard .CardLastpost:hover .cardBody .cardImg .cardImg-Img {
  transform: scale(1.2);
  transition: 1s;
}
.bgforCard .flex-card .listCard {
  flex: 25%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.bgforCard .flex-card .listCard .CardMany {
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  background: linear-gradient(45deg, #F6F4EB, #e1e5ea);
  border: none;
  width: 300px;
  height: auto;
  margin-left: 20px;
  margin-top: 15px;
}
.bgforCard .flex-card .listCard .CardMany .cardBody {
  padding: 0;
}
.bgforCard .flex-card .listCard .CardMany .cardBody .cardImg {
  overflow: hidden;
}
.bgforCard .flex-card .listCard .CardMany .cardBody .cardImg .cardImg-Img {
  height: 300px;
  width: 300px;
}
.bgforCard .flex-card .listCard .CardMany .cardBody .card-details {
  flex: 50%;
  display: flex;
}
.bgforCard .flex-card .listCard .CardMany .cardBody .card-details .sub-details {
  padding: 1px;
}
.bgforCard .flex-card .listCard .CardMany .cardBody .card-details .sub-details .hoverbar {
  width: 50px;
  height: 6px;
  background: #94ADD7;
  border-radius: 20px;
}
.bgforCard .flex-card .listCard .CardMany:hover .cardBody .card-details .sub-details .hoverbar {
  width: 100px;
  transition: 1s;
}
.bgforCard .flex-card .listCard .CardMany:hover .cardBody .cardImg .cardImg-Img {
  transform: scale(1.2);
  transition: 1s;
}
@media screen and (max-width: 576px) {
  .bgforCard .flex-card .listCard .CardMany {
    margin-top: 10px;
  }
}/*# sourceMappingURL=main.css.map */